@media screen and (max-width: 480px) {
  #container {
    width: 96% !important;
  }

  #chart {
    padding-left: 0 !important;
  }

  #recordList {
    margin-top: 3rem;
    padding-right: 0 !important;
  }

  h2 {
    font-size: 2rem !important;
  }

  li {
    font-size: 1.2rem !important;
  }

  table {
    font-size: 1.2rem !important;
  }

  .wo-grid {
    max-height: 50rem;
  }

  .w-grid {
    max-height: 100vh;
  }

  th,
  td {
    padding: 0.5rem 0.5rem !important;
  }

  .td-year {
    width: 4rem !important;
  }

  .td-course {
    width: 17rem !important;
  }

  .chart-center {
    transform: translateX(0%) !important;
  }
}

/* @media screen and (max-width: 920px), screen and (max-height: 420px) {
  #chart {
    max-width: 50%;
  }
} */

@media screen and (max-height: 420px) and (orientation: landscape) {
  #container {
    padding-bottom: 1rem !important;
  }

  #chart {
    max-height: 22rem;
  }

  .table-striped {
    margin-top: 0 !important;
  }

  .recharts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #chart svg {
    max-width: 60%;
  }
  .recharts-legend-wrapper {
    /* padding-top: 5rem; */
    margin-top: -5rem;
  }
}
